@charset "UTF-8";
/*
=========================================================================
/* Name: 헬로비전
/* PART: BOARD STYLE 
/* Version: 1.0 / day: 2020-11 
=========================================================================
*/
.com-tab-box .tab-content {
  display: none; }

/* 인풋 */
/* 아코디언 게시판(자주하는 질문) */
.acd-bbs-box {
  width: 100%;
  border-top: 2px solid #b2b2b2; }

.acd-bbs-box li {
  border-bottom: 1px solid #e6e7e8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: normal;
  color: #666; }

.acd-bbs-box li > button {
  font-size: 16px;
  font-weight: normal;
  color: #666;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 28px 70px;
  position: relative; }

.acd-bbs-box li > button::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 26px;
  height: 15px;
  right: 40px;
  top: 50%;
  margin-top: -7px;
  background: url(../img/arrow_list_close.svg) center no-repeat;
  background-size: contain;
  transform: rotate(180deg); }

.acd-bbs-box li > button.on::after {
  transform: rotate(0deg); }

.acd-bbs-box li > button .ic-q {
  font-size: 20px;
  font-weight: bold;
  color: #ed174d;
  margin-right: 80px; }

.acd-bbs-box li > button .subject {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.acd-bbs-box li > button.on + .reply-box {
  max-height: 500px; }

@media (max-width: 640px) {
  .acd-bbs-box li > button {
    font-size: 14px;
    padding: 27px 40px 27px 20px; }
  .acd-bbs-box li > button .ic-q {
    margin-right: 20px; }
  .acd-bbs-box li > button::after {
    width: 17px;
    height: 10px;
    right: 20px; }
  .acd-bbs-box li .reply-box .con-box {
    font-size: 14px;
    padding: 20px 40px; } }

.acd-bbs-box .reply-box {
  width: 100%;
  background-color: #f8f9fb;
  border-top: 1px solid #e6e7e8;
  transition: max-height 0.3s;
  max-height: 0;
  overflow: hidden; }

.acd-bbs-box .reply-box .con-box {
  padding: 40px 70px 40px 168px; }

/* 리뷰 */
.review-bbs-box .btn-box {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 30px; }

.review-bbs-box li.head {
  padding: 18px 0;
  flex-direction: row; }

.review-bbs-box li > button {
  padding-left: 0;
  padding-right: 0; }

.review-bbs-box .colbox {
  flex-shrink: 0;
  display: inline-block;
  text-align: center; }

.review-bbs-box .colbox.box-1 {
  width: 10%; }

.review-bbs-box .colbox.box-2 {
  flex: 1; }

.review-bbs-box .colbox.box-3 {
  width: 15%; }

.review-bbs-box .colbox.box-4 {
  width: 13%; }

.review-bbs-box .colbox.box-5 {
  width: 12%; }

.review-bbs-box .subject {
  text-align: left;
  padding-left: 20px; }

.review-bbs-box .subject img {
  margin-right: 50px; }

.review-bbs-box .reply-box .con-box {
  padding-left: 120px; }

.review-bbs-box .reply-box .con-box .btn-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row; }

.review-bbs-box .reply-box .con-box .btn-basic {
  border-color: #666;
  width: 100px;
  margin-right: 6px; }

.review-bbs-box .reply-box .con-box .btn-basic:last-child {
  margin-right: 0; }

.review-bbs-box .reply-box .con-box img {
  margin: 0 5px; }

.review-bbs-box .mo-cate {
  display: none; }

@media (max-width: 640px) {
  .review-bbs-box .acd-bbs-box li > button {
    flex-wrap: wrap;
    font-size: 14px;
    padding: 15px; }
  .review-bbs-box .colbox.box-1 {
    display: none; }
  .review-bbs-box .acd-bbs-box li > button .subject {
    padding-left: 0; }
  .review-bbs-box .subject img {
    margin-right: 10px;
    max-width: 80px; }
  .review-bbs-box .mo-cate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #999;
    margin-bottom: 10px; }
  .review-bbs-box .acd-bbs-box li > button::after {
    width: 16px;
    right: 20px;
    margin-top: 10px; }
  .review-bbs-box .reply-box .con-box {
    padding: 15px 10px; }
  .review-bbs-box .reply-box .con-box .btn-box {
    margin: 20px 0 0 0; } }

/* 리뷰(포토) 레이어팝업 */
.review-photo-layer {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 720px;
  height: 560px;
  z-index: 500;
  margin-top: -280px;
  margin-left: -360px;
  background-color: #fff;
  border-radius: 20px;
  padding: 48px 150px 92px 150px; }

.review-photo-layer .btn-close {
  background: url(../img/icon_popup_close2.svg) center no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 28px; }

.review-photo-layer .reivew-photo-box .reivew-photo-slide li {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.review-photo-layer .reivew-photo-box .page-box {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.review-photo-layer .reivew-photo-box .page-box .swiper-pagination-bullet {
  display: inline-block;
  border-radius: 50%;
  margin: 0 10px;
  width: 16px;
  height: 16px;
  background: #d5d5d5;
  cursor: pointer;
  flex-shrink: 0; }

.review-photo-layer .reivew-photo-box .page-box .swiper-pagination-bullet-active {
  background-color: #ff9595; }

.review-photo-layer .control button {
  width: 19px;
  height: 34px;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  background: url(../img/arrow_popup_left.svg) center no-repeat;
  background-size: contain; }

.review-photo-layer .control button.prev {
  left: 54px; }

.review-photo-layer .control button.next {
  transform: rotate(180deg);
  right: 54px; }

@media (max-width: 640px) {
  .review-photo-layer {
    width: 90%;
    height: auto;
    margin-left: -45%;
    margin-top: 0;
    transform: translateY(-50%);
    padding: 40px 20px 20px 20px; }
  .review-photo-layer .btn-close {
    width: 20px;
    height: 20px;
    top: 15px;
    right: 20px; }
  .review-photo-layer .reivew-photo-box .reivew-photo-slide li {
    height: auto; }
  .review-photo-layer .reivew-photo-box .page-box {
    margin-top: 15px; }
  .review-photo-layer .reivew-photo-box .page-box .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 5px; } }

/* 글쓰기 */
.com-write-box dl {
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row; }

.com-write-box dl dt {
  width: 144px;
  flex-shrink: 0;
  line-height: 50px; }

.com-write-box dl dd {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 1; }

.review-write {
  margin-top: 40px; }

.review-write .phone {
  width: 100px;
  margin-right: 10px; }

.review-write .phone:last-child {
  margin-right: 0; }

.review-write .subject {
  width: 100%; }

.review-write .counter-box {
  text-align: right;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #333; }

.review-write dl.upload dt {
  line-height: 40px; }

.review-write .upload_preview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px; }

.review-write .upload_preview .preview-box {
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.review-write .upload_preview .preview-box:last-child {
  margin-right: 0; }

.review-write .upload_preview .preview-box .img-box {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden; }

.review-write .upload_preview .preview-box .img-box img {
  width: 100%;
  height: 100%; }

.review-write .upload_preview .preview-box button {
  font-size: 16px;
  font-weight: normal;
  color: #999;
  margin-top: 5px; }

.review-write .info-txt {
  color: #999;
  margin-left: 20px; }

.review-write .agree-box .agree-tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px; }

.review-write .agree-box .agree-tit h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333; }

.review-write .check-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.review-write .check-box label {
  margin-right: 5px;
  flex-shrink: 0; }

.review-write .txt-box {
  border: 1px solid #d5d5d5;
  padding: 15px 18px;
  background-color: #fff;
  height: 150px;
  overflow: auto; }

@media (max-width: 640px) {
  .review-write .phone {
    width: calc(33.3% - 7px);
    margin-right: 10px; }
  .review-write .phone:last-child {
    margin-right: 0; }
  .review-write .info-txt {
    width: 100%;
    margin-left: 0;
    font-size: 12px;
    margin-top: 5px; }
  .review-write dl dt {
    width: 90px;
    font-size: 14px; }
  .review-write dl dd {
    flex-wrap: wrap; }
  .review-write .agree-box .agree-tit {
    flex-direction: column; }
  .review-write .agree-box .agree-tit h3 {
    margin-bottom: 5px; } }

/* 페이지 */
.com-page-box {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.com-page-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 40px;
  height: 40px;
  font-size: 16px;
  margin: 0 7px;
  color: #666; }

.com-page-box button.on {
  background-color: #ed174d;
  color: #fff; }

.com-page-box button.first {
  background: url(../img/arrow_paging_before2.svg) center no-repeat;
  background-size: 16px auto; }

.com-page-box button.prev {
  background: url(../img/arrow_paging_before.svg) center no-repeat;
  background-size: 11px auto; }

.com-page-box button.next {
  background: url(../img/arrow_paging_before.svg) center no-repeat;
  background-size: 11px auto;
  transform: rotate(180deg); }

.com-page-box button.last {
  background: url(../img/arrow_paging_before2.svg) center no-repeat;
  background-size: 16px auto;
  transform: rotate(180deg); }
