@charset "UTF-8";
/*
=========================================================================
/* Name: 헬로비전
/* PART: COMMON STYLE 
/* Version: 1.0 / day: 2020-11 
=========================================================================
*/
.com-tab-box .tab-content {
  display: none; }

/* 인풋 */
body.fix {
  overflow: hidden; }

.mobile-img,
.mo-el,
.mo-flex {
  display: none !important; }

@media all and (max-width: 640px) {
  .pc-img,
  .pc-el {
    display: none !important; }
  .mobile-img {
    display: inline-block !important; }
  .mo-el {
    display: block !important; }
  .mo-flex {
    display: flex !important; } }

.fon-p-color {
  color: #ed174d !important; }

.font-w-mid {
  font-weight: 600; }

h2.sub-h2 {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  margin-top: 90px;
  margin-bottom: 80px;
  text-align: center; }

h3.sub-h3 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-top: 60px;
  margin-bottom: 20px; }

@media (max-width: 640px) {
  h3.sub-h3 {
    margin-top: 40px;
    text-align: center; } }

h3.big-h3 {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-bottom: 25px;
  margin-top: 40px; }

.com-layer-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200; }

/* 리스트 스타일 */
.li-style1.margin {
  margin: 60px 0; }

@media (max-width: 640px) {
  .li-style1.margin {
    margin: 20px 0; } }

.li-style1 li {
  padding-left: 11px;
  position: relative;
  margin-bottom: 7px; }

.li-style1 li:last-child {
  margin-bottom: 0; }

.li-style1 li::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0;
  top: 9px;
  background-color: #d5d5d5; }

.li-style1.fon16 {
  font-size: 16px;
  color: #999; }

.li-style1.fon16 li::before {
  top: 11px; }

@media (max-width: 640px) {
  .li-style1.fon16 {
    font-size: 14px; } }

p.line-30 {
  margin: 7px 0; }

/* 탭스타일 */
.tab-style-1 .tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px; }

.tab-style-1 .tab-list li {
  width: 260px;
  margin-right: 10px; }

.tab-style-1 .tab-list li:last-child {
  margin-right: 0; }

.tab-style-1 .tab-list li button {
  font-size: 22px;
  font-weight: normal;
  color: #999;
  padding-bottom: 45px;
  position: relative;
  width: 100%; }

.tab-style-1 .tab-list li button.on {
  color: #ed174d;
  font-weight: bold; }

.tab-style-1 .tab-list li button::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 12px;
  left: 0;
  bottom: 14px;
  border-radius: 7px;
  background-color: #d5d5d5; }

.tab-style-1 .tab-list li button.on::before {
  background-color: #ed174d; }

.tab-style-1 .tab-list li button.on::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0;
  margin-left: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid #ed174d; }

.tab-style-2 .tab-list {
  margin-top: 80px;
  margin-bottom: 70px;
  margin-left: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

@media (max-width: 640px) {
  .tab-style-2 .tab-list {
    flex-wrap: wrap; } }

.tab-style-2 .tab-list li {
  flex: 1;
  margin-left: -1px; }

@media (max-width: 640px) {
  .tab-style-2 .tab-list li {
    width: 33.33%;
    flex: auto;
    margin-top: -1px; } }

.tab-style-2 .tab-list li a {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
  font-weight: normal;
  color: #666;
  border: 1px solid #e2e2e2;
  background-color: #fff; }

.tab-style-2 .tab-list li a.on {
  background-color: #ed174d;
  color: #fff;
  font-weight: bold; }

.tab-style-3 .tab-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.tab-style-3 .tab-list li {
  flex: 1; }

.tab-style-3 .tab-list li button {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 4px solid #d5d5d5;
  font-size: 18px;
  font-weight: bold;
  color: #d5d5d5;
  text-align: center; }

.tab-style-3 .tab-list li button.on {
  color: #333;
  border-bottom-color: #333; }

@media (max-width: 640px) {
  .tab-style-3 {
    padding-bottom: 15px; } }

/* 버튼 */
.btn-basic {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 7px 20px;
  color: #666;
  background-color: #fff; }

.btn-basic.big {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #333; }

.btn-basic.big.arrow span {
  display: inline-block;
  padding-right: 37px;
  background: url(../img/arrow_btn.svg) right center no-repeat;
  background-size: 11px 17px; }

.btn-basic.big2 {
  display: inline-block;
  min-width: 200px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #999;
  border-radius: 5px;
  border: 1px solid #999; }

.btn-basic.big3 {
  display: inline-block;
  min-width: 200px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #ed174d;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 6px 8px 0 rgba(0, 0, 0, 0.08); }

.btn-basic.p-color {
  border-color: #ed174d;
  background-color: #ed174d;
  color: #fff; }

.btn-basic.prev-arrow {
  padding: 14px 20px; }

.btn-basic.prev-arrow span {
  display: inline-block;
  padding-left: 38px;
  background: url(../img/arrow_btn_back.svg) left center no-repeat;
  background-size: 9px 17px; }

.btn-basic.ic-link {
  padding-left: 39px;
  background: url(../img/icon_link.svg) 10px center no-repeat;
  background-size: 19px auto; }

.btn-basic.ic-share {
  padding-left: 39px;
  background: url(../img/icon_share.svg) 10px center no-repeat;
  background-size: 19px auto; }

/* 기본 테이블 */
.th-left tbody th {
  text-align: left; }

.td-left tbody td {
  text-align: left; }

.td-center tbody td,
.th-center tbody th {
  text-align: center; }

.td-left2 tbody th + td,
.td-left2 tbody tr td:first-child {
  text-align: left; }

/* th 다음에 오는 td만 왼쪽정렬 */
.td-left2 tbody td[rowspan] + td {
  text-align: left; }

.td-left3 tbody tr td:first-child + td {
  text-align: left; }

.td-right tbody td,
.td-right tfoot td {
  text-align: right; }

.tbl-basic th,
.tbl-basic td {
  border: 0;
  padding: 18px 10px;
  font-size: 16px;
  font-weight: normal;
  color: #666; }

@media (max-width: 640px) {
  .tbl-basic th,
  .tbl-basic td {
    font-size: 14px; } }

.tbl-basic td {
  color: #333; }

.tbl-basic {
  width: 100%;
  border-spacing: 0;
  border-left: 0;
  border-right: 0;
  border-collapse: collapse;
  border-top: 1px solid #666; }

.tbl-basic tr {
  text-align: center; }

.tbl-basic thead th {
  background: #f8f9fb;
  border-bottom: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5; }

.tbl-basic thead th:first-child {
  border-left: 0; }

.tbl-basic thead tr th.fnone {
  border-left: 0 !important; }

.tbl-basic thead th[colspan] {
  border-bottom: 1px solid #d5d5d5; }

/* th가 두줄이상으로 합쳐질때 border-bottom 값 */
.tbl-basic thead th[rowspan] {
  border-right: 1px solid #d5d5d5; }

/* th가 두줄이상으로 합쳐질때 border-right 값 */
.tbl-basic thead th[rowspan]:last-child {
  border-right: 0; }

.tbl-basic thead th.none {
  border-bottom: 1px solid #d5d5d5; }

/* th가 한줄일때 class추가 */
.tbl-basic tbody th {
  background: #fafafa;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }

.tbl-basic tbody th:first-child {
  border-left: 0; }

.tbl-basic tbody th[rowspan] {
  border-right: 1px solid #d5d5d5; }

.tbl-basic tbody tr:first-child th,
.tbl-basic tbody tr:first-child td {
  border-top: 1px solid #d5d5d5; }

.tbl-basic tbody td {
  background: #fff;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }

.tbl-basic tbody td:first-child {
  border-left: 0; }

.tbl-basic tbody td[rowspan] {
  border-right: 1px solid #d5d5d5; }

.tbl-basic tbody td[rowspan]:last-child {
  border-right: 0; }

.tbl-basic tbody td + th {
  border-left: 1px solid #d5d5d5; }

.tbl-basic tfoot th {
  background: #fafafa;
  border-right: 1px solid #d5d5d5; }

.tbl-basic tfoot td {
  border-left: 1px solid #d5d5d5; }

.tbl-basic tfoot td[colspan] {
  border-left: 0; }

.tbl-basic tbody th.line,
.tbl-basic tbody td.line,
.tbl-basic tbody tr.line td,
.tbl-basic tbody tr.line th {
  border-bottom: 1px dashed #d5d5d5; }

.tbl-basic thead tr th.h-line,
.tbl-basic tbody th.h-line {
  border-left: 1px solid #d5d5d5; }

.tbl-basic tr.bg th,
.tbl-basic tr.bg td,
.tbl-basic th.bg,
.tbl-basic td.bg {
  background: #f6f6f6 !important; }

.thead-bg thead th {
  background: #fafafa; }

.tbl-basic.no-bd tbody td,
.tbl-basic.no-bd tbody th,
.tbl-basic.no-bd thead td,
.tbl-basic.no-bd thead th {
  border-left: none;
  border-right: none; }

.tbl-style1 td,
.tbl-style1 th {
  border: 0;
  height: 30px;
  text-align: center; }

.tbl-style1 th {
  background-color: #f2f2f2; }

.tbl-style1 thead th {
  color: #333; }

.tbl-style1 thead .p-color-bg {
  background-color: #ed174d;
  color: #fff;
  font-weight: bold; }

.tbl-style1 tbody th {
  font-weight: normal; }

.tbl-style1 tbody th,
.tbl-style1 tbody td {
  border-bottom: 1px solid #e2e2e2; }

.tbl-basic.tbl-style2 {
  border: 2px solid #000;
  border-width: 2px 0;
  font-size: 18px;
  color: #333; }

.tbl-basic.tbl-style2 tbody td,
.tbl-basic.tbl-style2 tbody th,
.tbl-basic.tbl-style2 thead td,
.tbl-basic.tbl-style2 thead th {
  border-left: none;
  border-right: none; }

.tbl-basic.tbl-style2 td,
.tbl-basic.tbl-style2 th {
  padding: 20px 30px; }

.tbl-basic.tbl-style2 td .big {
  font-size: 24px;
  font-weight: bold; }

@media (max-width: 640px) {
  .tbl-basic.tbl-style2 td .big {
    font-size: 20px; } }

.tbl-basic.tbl-style2 th {
  background-color: #f8f9fb; }

/* 인풋 커스텀 */
input[type="text"], input[type="number"] {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  border-width: 1px;
  background-color: #fff; }

input[type="text"]::placeholder, input[type="number"]::placeholder {
  color: #999; }

input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0; }

input[type="checkbox"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d5d5d5;
  border-width: 2px;
  background-color: #fff; }

input[type="checkbox"]:checked + label {
  background: #ed174d url(../img/icon_check_on.svg) center no-repeat;
  background-size: 80% auto; }

@media (max-width: 640px) {
  input {
    width: 100%; } }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.custom-select {
  width: 320px;
  position: relative; }

@media (max-width: 640px) {
  .custom-select {
    width: 100%; } }

.custom-select select {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  border-width: 1px;
  background-color: #fff;
  padding-right: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.custom-select select::placeholder {
  color: #999; }

.custom-select::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  right: 20px;
  margin-top: -4px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #333; }

.custom-radio {
  position: absolute;
  width: 0;
  height: 0; }

.custom-radio + label {
  padding: 0 20px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  font-size: 16px; }

.custom-radio:checked + label {
  border: 3px solid #ed174d;
  color: #ed174d;
  font-weight: bold; }

textarea {
  width: 100%;
  border-radius: 5px;
  height: 120px;
  padding: 20px 30px;
  resize: none;
  border: 1px solid #d5d5d5; }

textarea::placeholder {
  font-size: 16px;
  color: #999; }

.custom-file {
  position: absolute;
  width: 0;
  height: 0; }

.custom-file + label {
  display: inline-block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  background-color: #e2e2e2; }

.custom-file-btn {
  display: inline-block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  background-color: #e2e2e2;
  font-size: 16px;
  font-weight: normal;
  color: #666; }

.hidden-file {
  position: absolute;
  width: 0;
  height: 0; }

@media all and (max-width: 640px) {
  h2.sub-h2 {
    margin: 35px 0;
    font-size: 30px;
    margin-bottom: 20px; }
  h3.big-h3 {
    font-size: 24px;
    margin-bottom: 30px; }
  .tab-style-1 .tab-list {
    margin-bottom: 35px; }
  .tab-style-1 .tab-list li button {
    font-size: 16px;
    padding-bottom: 32px; } }
